@page "/"

<h1>Hello, welcome to the parking assistant</h1>

<p>Select what flight needs to be parked</p>
<EditForm Model="model">
    <InputSelect @bind-Value="model.aircraftType">
        <option>A380</option>
        <option>B747</option>
        <option>A330</option>
        <option>B777</option>
        <option>E195</option>
    </InputSelect>
    <button class="btn btn-primary" @onclick="()=>RecommendParkingSpot()">Recommend location</button>
    <button class="btn btn-primary" @onclick="()=>ParkAtRecommendedSpot()">Park at recommended location</button>
</EditForm>

@if (UnableToParkError.Length > 0)
{
    <div id="blazor-error-ui">
        @UnableToParkError
    </div>
}

@code {
    ParkingAssistantModel model = new ParkingAssistantModel();

    class ParkingAssistantModel
    {
        public AircraftType aircraftType { get; set; }
    }

    enum AircraftType
    {
        A380,
        B747,
        A330,
        B777,
        E195
    }

    private async Task RecommendParkingSpot()
    {
        UnableToParkError = string.Empty;

    }
    private async Task ParkAtRecommendedSpot()
    {

    }

    private string UnableToParkError = string.Empty;
}


