@page "/"

<h1>Hello, welcome to the parking assistant</h1>

<p>Select what flight needs to be parked</p>
<EditForm Model="model">
    <InputSelect @bind-Value="model.aircraftType" @oninput="()=>ResetAll()">
        @foreach (var value in Enum.GetValues(typeof(AircraftType)))
        {
            <option>@value</option>
        }
    </InputSelect>
    <p><button class="btn btn-primary" @onclick="()=>RecommendParkingSpot()">Recommend location</button></p>
    @if (RecommendedParkingSpot.Length > 0)
    {
        <p>Recommended Parking Spot is : @RecommendedParkingSpot</p>
        <p><button class="btn btn-primary" @onclick="()=>ParkAtRecommendedSpot()">Park at recommended location</button></p>
    }
</EditForm>
@if (parkedSuccessfully)
{
    <p>
        Your flight @model.aircraftType is succesfully parked in spot @RecommendedParkingSpot
    </p>
}
@if (UnableToParkError.Length > 0)
{
    <p>
        @UnableToParkError
    </p>
}
@inject ParkingAssistant parkingAssistant;
@inject ParkIngAssistantModel model;

@code {
    string RecommendedParkingSpot = string.Empty;
    bool parkedSuccessfully = false;
    private string UnableToParkError = string.Empty;

    private async Task RecommendParkingSpot()
    {
        ResetAll();

        RecommendedParkingSpot = await parkingAssistant.RecommendSpot(model);
        if (string.IsNullOrEmpty(RecommendedParkingSpot))
        {
            UnableToParkError = "No spaces found to park at.";
        }
    }
    private async Task ParkAtRecommendedSpot()
    {
        ResetErrors();

        parkedSuccessfully = await parkingAssistant.Park(model, RecommendedParkingSpot);
        if (!parkedSuccessfully)
        {
            UnableToParkError = "Unable to park!";
        }
    }

    private void ResetAll()
    {
        ResetErrors();
        RecommendedParkingSpot = string.Empty;
    }
    private void ResetErrors()
    {
        UnableToParkError = string.Empty;
        parkedSuccessfully = false;
    }

}


